* {
    font-family: "Poppins", sans-serif;
    margin: 0;
}   
body {
    background-color: black;
    color: white;
    overflow: hidden; /* it helps us to un-scroll webpage content */
}

.main {
    display: flex;
    height: 92vh;
    margin-top: 2rem;
}

.sidebar {
    
    background-color: black;
    width: 35%;
    border-radius: 1rem; /* 1rem = 16px */
}

.main-content {
    background-color: #121212;
    flex: 1; /* take remaining all size */
    border-radius: 1rem;
    overflow: auto;
    margin-top: 2rem;
    

}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0;  /* it send music player at bottom */
    width: 100%;
    height: 10vh;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav {
    display: flex;
    flex-direction: column;
    background-color: #121212;
    height: 20%;
    padding: 0.5rem 0.75rem;
    justify-content: center;
    margin: 2rem;
    border-radius: 1rem;
}



.nav-option {
    height: 2.5rem;
    margin-bottom: 10px; /* Adds space between items */
    opacity: 0.7;
    padding: 1.5rem;
}
.nav-option i {
    font-size: 1.25rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}

.nav-option:hover{
    opacity: 1;
}

.library {
    background-color: #121212;
    
    border-radius: 1rem;
    height: 59vh;
    margin: 2rem;
}

.lib-option img {
    height: 1.25rem;
    
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.icons {
    font-size: 1.2rem;
}

.box {
    display: block;
    
    background-color: #232323;
    height: 8rem;
    margin: 0.75rem 0 0.75rem 0;
    border-radius: 0.75rem;
    padding: 1.75rem 1rem;
    
   

    
}

.box-p1 {
    
    
    font-size: 1.7rem;
    font-weight: 500;
}

.box-p2 {
    
    font-size: 1rem;
    opacity: 0.75;
}

.badge {
    
    background-color: #fff;
    border: none;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    margin-top: 0.5rem;
    width: fit-content;
    font-weight: 700;
}

.sticky-nav {
    position: sticky;
    top: 0px;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 1;
    

}

.nav-left img{
    height: 2rem;
    width: 2rem;
    opacity: 0.75;
}

.nav-left img:hover {
    opacity: 1;
}

.nav-right   {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.nav-right .nav-item {
    margin-right: 1.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.75;
}

.nav-right .nav-item:hover {
    opacity: 1;
}

.dark-badge {
    background-color: #000000;
    color: #fff;
    
}

@media (max-width: 1225px) {
    .hide {
        display: none !important;
    }
}

.cards {
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #232323;
    padding: 2rem;
    border-radius: 1rem;
}

.card {
    margin-top: 3rem;
    margin-left: 1rem;
    background-color: #292929;
    width: 225px;
    border-radius: 1rem;
    padding: 2rem;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    
    
}
.card img {
    width: 100%;
    border-radius: 0.5rem;
}

.card .p1 {
   margin-top: 1rem;
   font-size: 1.5rem;
   font-weight: 700;
}

.card .p2 {
    margin-top: 1rem;
    opacity: 0.7;
}

.main h2 {
    margin-top: 3rem;
}


.footer {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 90%;
    height: 30%;
    border-top: 1px solid white;
    opacity: 0.4;
}

.music-player {
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.player-controls img {
    height: 1rem;
    margin: 1.25rem;
    opacity: 0.7;
}

.player-controls img:hover {
    opacity: 1;
}

.album {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    
}

.player {
    width: 50%;
    background-color: rgb(20, 20, 18);
}

.controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    opacity: 0.7;
    
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

 .progress-bar {
    width: 70%;
    /* appearance: none;
    background-color: transparent; */
    cursor: pointer;
}

/* these commented content not working on ubuntu */
/* .progress-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 50%;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6rem;
}  */


.controls img {
    height: 1.7rem;
}

.controls i {
    font-size: 1.7rem;

}

.controls:hover  {
    opacity: 1;
}

/* make changes for phone */
@media (max-width: 300px) and (max-height: 900px) {
    * {
        display: none !important;
    }
}